In [1]:
# importing required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Calculating Statistic for each team like average score of team, average wickets taken by team, average catches from the data of all the players in the team

In [2]:
teams_data = pd.read_csv('../Dataset/ICC_23_Teams_List.csv')
players_data = pd.read_csv('../Dataset/ICC_Player_Stats.csv')
teams_data.shape,players_data.shape

((10, 4), (150, 19))

In [3]:
teams_data.head(10)

      Team Name  Team ID  ICC Ranking(ODI)  Matches
0   Afghanistan        1                 9       28
1     Australia        2                 2       38
2    Bangladesh        3                 8       43
3       England        4                 6       36
4         India        5                 1       52
5   Netherlands        6                14       35
6   New Zealand        7                 5       41
7      Pakistan        8                 4       35
8  South Africa        9                 3       32
9     Sri Lanka       10                 7       46

These are the list of teams that are participating in ICC world cup 2023 with their ODI Rankings and the number of world cup matches played.

In [4]:
players_data.head()

,Team Name,Player name,Specalist,Span,Matches,Innings,Not Out,Runs,Highest Score,Average,BF,Strike Rate,Half Centuries,Centuries,0,Fours,Sixes,Wickets Taken,Catches
0,India,Rohit Sharma,Batsman,2007-2023,259,251,36,10554,264.0,49.08,11530.0,91.53,31.000000,54.0,16.0,978.0,314.0,8.0,92
1,India,Hardik Pandya,AllRounder,2016-2023,86,61,9,1769,92.0,34.01,1603.0,110.35,3.396552,11.0,4.0,132.0,67.0,84.0,45
2,India,Shubman Gill,Batsman,2019-2023,41,41,6,2136,208.0,61.02,2090.0,102.20,6.000000,11.0,1.0,243.0,45.0,0.0,30
3,India,Virat Kohli,Batsman,2008-2023,289,277,44,13626,183.0,58.48,14565.0,93.55,49.000000,70.0,16.0,1276.0,148.0,4.0,150
4,India,Shreyas Iyer,Batsman,2017-2023,55,50,5,2094,113.0,46.53,2141.0,97.80,3.000000,17.0,1.0,198.0,48.0,0.0,24

These are the statistics of all the player in each team based upon their performance in number of ODI and World cup matches

In [5]:
players_data.isnull().sum()

Team Name         0
Player name       0
Specalist         0
Span              0
Matches           0
Innings           0
Not Out           0
Runs              0
Highest Score     0
Average           0
BF                0
Strike Rate       0
Half Centuries    0
Centuries         0
0                 0
Fours             0
Sixes             0
Wickets Taken     0
Catches           0
dtype: int64

In [6]:
# filling null values with average
nullData = players_data.isnull().sum()
for col in players_data.columns:
    if nullData[col]!=0:
        players_data[col].fillna(players_data[col].mean(), inplace=True)

In [7]:
# grouping players by team
grouped_data = players_data.groupby('Team Name')

In [8]:
avgData = grouped_data.mean()
# average score per match
teams_data['Avg Score']= avgData['Runs'].values/avgData['Matches'].values
teams_data['Avg Wickets'] = avgData['Wickets Taken'].values
teams_data['Avg Catches'] = avgData['Catches'].values
teams_data['Avg Fours'] = avgData['Fours'].values
teams_data['Avg Sixes'] = avgData['Sixes'].values
teams_data['Avg Half Centuries'] = avgData['Half Centuries'].values
teams_data['Avg Centuries'] = avgData['Centuries'].values
teams_data.head(10)

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
teams_data.to_csv('../Dataset/ICC_Team_Stats.csv',index=False)

---

Collecting Matches Data For ICC 2023

In [9]:
matches_data = pd.read_csv('../Dataset/ICC 2023 Kaggle/matches.csv')
matches_data.head()

,season,team1,team2,date,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire1,umpire2,reserve_umpire,match_referee,winner,winner_runs,winner_wickets,match_type
0,2023/24,England,New Zealand,2023/10/05,1,Narendra Modi Stadium,Ahmedabad,New Zealand,field,R Ravindra,HDPK Dharmasena,Nitin Menon,Sharfuddoula,J Srinath,New Zealand,NaN,9.0,Group
1,2023/24,Pakistan,Netherlands,2023/10/06,2,Rajiv Gandhi International Stadium,Hyderabad,Netherlands,field,Saud Shakeel,AT Holdstock,CM Brown,PR Reiffel,JJ Crowe,Pakistan,81.0,NaN,Group
2,2023/24,Afghanistan,Bangladesh,2023/10/07,3,Himachal Pradesh Cricket Association Stadium,Dharamsala,Bangladesh,field,Mehedi Hasan Miraz,JS Wilson,HDPK Dharmasena,M Erasmus,AJ Pycroft,Bangladesh,NaN,6.0,Group
3,2023/24,South Africa,Sri Lanka,2023/10/07,4,Arun Jaitley Stadium,Delhi,Sri Lanka,field,AK Markram,RK Illingworth,Sharfuddoula,AG Wharf,J Srinath,South Africa,102.0,NaN,Group
4,2023/24,Australia,India,2023/10/08,5,MA Chidambaram Stadium,Chennai,Australia,bat,KL Rahul,CB Gaffaney,RA Kettleborough,AT Holdstock,RB Richardson,India,NaN,6.0,Group

In [10]:
required_data = matches_data[['season','team1','team2','date','venue','city','winner']]

In [11]:
required_data['Venue'] = required_data['venue']+', ' +required_data['city']
required_data.drop(['city','venue'],axis=1, inplace=True)
required_data['Venue'].unique()

C:\Users\asus\AppData\Local\Temp\ipykernel_15204\595511844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_data['Venue'] = required_data['venue']+', ' +required_data['city']
C:\Users\asus\AppData\Local\Temp\ipykernel_15204\595511844.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_data.drop(['city','venue'],axis=1, inplace=True)

array(['Narendra Modi Stadium, Ahmedabad',
       'Rajiv Gandhi International Stadium, Hyderabad',
       'Himachal Pradesh Cricket Association Stadium, Dharamsala',
       'Arun Jaitley Stadium, Delhi', 'MA Chidambaram Stadium, Chennai',
       'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow',
       'Maharashtra Cricket Association Stadium, Pune',
       'M Chinnaswamy Stadium, Bengaluru', 'Wankhede Stadium, Mumbai',
       'Eden Gardens, Kolkata'], dtype=object)

In [ ]:
required_data.to_csv('../Dataset/ICC_matches_stats.csv',index=False)

Scrapping ICC matches data from 1999-2019

In [ ]:
# scrapping matches data of icc world cups
import requests
from bs4 import BeautifulSoup
from datetime import datetime

def get_date(div):
    try:
        date = div.find_all('div','schedule-date')[0]
        ind2 = str(date).find('|')
        ind1 = str(date).rfind('"',0,ind2)
        ts = datetime.fromtimestamp(int(str(date)[ind1+2:ind2])/1000)
        date = datetime.strftime(ts, '%Y/%m/%d')
        return date
    except:
        return None

def getTeams(div):
    teams = div.find_all('div','cb-col-60 cb-col cb-srs-mtchs-tm')[0]
    a1 = teams.find_all('a','text-hvr-underline')
    a2 = a1[0].text.split(" vs ")
    team1 = a2[0]
    team2 = a2[1].split(',')[0]
    team1 = ' '.join([x.capitalize() for x in team1.split(' ')])
    team2 = ' '.join([x.capitalize() for x in team2.split(' ')])
    wt = teams.find_all('a','cb-text-complete')[0].text.split(' won ')[0]
    venue = teams.find_all('div','text-gray')[0].text
    return team1,team2, wt, venue

matches = pd.DataFrame()
cnt=0
def extract_data(url,season):
    # Send a GET request to the URL
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.text, 'html.parser')
        
        previous_date = None
        matches_div = soup.find_all('div','cb-series-matches')
        
        for match in matches_div:
            global cnt
            date = get_date(match)
            team1, team2, winningTeam, venue = getTeams(match)
            if date is None:
                date = previous_date
            matches.loc[cnt,['season','team1','team2','date','winner','Venue']]=[season,team1,team2,date,winningTeam,venue]
            cnt = cnt+1
            previous_date = date

    else:
        print(f"Failed to retrieve the page. Status Code: {response.status_code}")

extract_data("https://www.cricbuzz.com/cricket-series/2697/icc-cricket-world-cup-2019/matches",'2019')
extract_data("https://www.cricbuzz.com/cricket-series/2223/icc-cricket-world-cup-2015/matches",'2015')
extract_data("https://www.cricbuzz.com/cricket-series/228/icc-world-cup-2011/matches",'2011')
extract_data("https://www.cricbuzz.com/cricket-series/905/icc-world-cup-2007/matches",'2007')
extract_data("https://www.cricbuzz.com/cricket-series/796/icc-world-cup-2003/matches",'2003')
extract_data("https://www.cricbuzz.com/cricket-series/718/icc-world-cup-1999/matches",'1999')
matches.head()

,season,team1,team2,date,winner,Venue
0,2019,England,South Africa,2019/05/30,England,"Kennington Oval, London"
1,2019,West Indies,Pakistan,2019/05/31,West Indies,"Trent Bridge, Nottingham"
2,2019,New Zealand,Sri Lanka,2019/06/01,New Zealand,"Sophia Gardens, Cardiff"
3,2019,Afghanistan,Australia,2019/06/01,Australia,"County Ground, Bristol"
4,2019,South Africa,Bangladesh,2019/06/02,Bangladesh,"Kennington Oval, London"

In [ ]:
d1 = pd.read_csv('../Dataset/ICC_matches_stats.csv')
combined = pd.concat([d1, matches], axis=0)
combined.shape
combined.to_csv('../Dataset/ICC_matches_stats.csv',index=False)

Combining ODI Data

In [ ]:
odi_matches = pd.read_csv('../Dataset/ODI_Matches.csv')
odi_matches.head()

,Unnamed: 0,team1,team2,winner,Margin,Venue,date
0,0,New Zealand,Sri Lanka,New Zealand,45 runs,"Bay Oval, Mount Maunganui",2019/01/03
1,1,New Zealand,Sri Lanka,New Zealand,21 runs,"Bay Oval, Mount Maunganui",2019/01/04
2,2,New Zealand,Sri Lanka,New Zealand,115 runs,"Saxton Oval, Nelson",2019/01/05
3,3,Australia,India,Australia,34 runs,"Sydney Cricket Ground, Sydney",2019/01/06
4,4,Australia,India,India,6 wickets,"Adelaide Oval, Adelaide",2019/01/07

In [ ]:
odi_matches.drop('Margin',axis=1,inplace=True)

In [ ]:
odi_matches['Season']=odi_matches['date'].apply(lambda x:x[0:4])
odi_matches.head()

,team1,team2,winner,Venue,date,Season
0,New Zealand,Sri Lanka,New Zealand,"Bay Oval, Mount Maunganui",2019/01/03,2019
1,New Zealand,Sri Lanka,New Zealand,"Bay Oval, Mount Maunganui",2019/01/04,2019
2,New Zealand,Sri Lanka,New Zealand,"Saxton Oval, Nelson",2019/01/05,2019
3,Australia,India,Australia,"Sydney Cricket Ground, Sydney",2019/01/06,2019
4,Australia,India,India,"Adelaide Oval, Adelaide",2019/01/07,2019

In [ ]:
odi_matches.to_csv('../Dataset/ODI_Matches.csv',index=False)

In [ ]:
Icc_data = pd.read_csv('../Dataset/ICC_matches_stats.csv')
odi_data = pd.read_csv('../Dataset/ODI_Matches.csv')
combined_data = pd.concat([Icc_data,odi_data],axis=0)

In [ ]:
import pandas as pd
import json

In [ ]:
f = open('../Dataset/ICC23Data.json','r')
Json = json.load(f)
f.close()
curr_teamList = Json['TeamsList']

In [ ]:
data = pd.read_csv('../Dataset/Matches_stats.csv')
data.head()

,season,team1,team2,date,winner,Venue
0,2023,England,New Zealand,2023/10/05,New Zealand,"Narendra Modi Stadium, Ahmedabad"
1,2023,Pakistan,Netherlands,2023/10/06,Pakistan,"Rajiv Gandhi International Stadium, Hyderabad"
2,2023,Afghanistan,Bangladesh,2023/10/07,Bangladesh,"Himachal Pradesh Cricket Association Stadium, ..."
3,2023,South Africa,Sri Lanka,2023/10/07,South Africa,"Arun Jaitley Stadium, Delhi"
4,2023,Australia,India,2023/10/08,India,"MA Chidambaram Stadium, Chennai"

In [ ]:
inds = []
for index,row in data.iterrows():
    if (row['team1'] not in curr_teamList) or (row['team2'] not in curr_teamList):
      inds.append(index)
data.drop(inds,axis=0,inplace=True)

In [ ]:
data.to_csv('../Dataset/Matches_stats.csv',index=False)

In [13]:
odi_matches = pd.read_csv('../Dataset/ODI_Matches.csv')
odi_matches.nunique()

team1      23
team2      23
winner     25
Venue     112
date      850
season      9
dtype: int64

In [14]:
odi_matches = pd.read_csv('../Dataset/ODI_Matches.csv')
odi_matches.describe()

            season
count  1053.000000
mean   2018.906933
std       2.694678
min    2015.000000
25%    2017.000000
50%    2019.000000
75%    2022.000000
max    2023.000000

In [16]:
data = pd.read_csv('../Dataset/Matches_stats.csv')
data.nunique()

season     13
team1      10
team2      10
date      543
winner     22
Venue      99
dtype: int64

In [ ]:
data = pd.read_csv('../Dataset/ICC_matches_stats.csv')
data.head()

In [ ]:
data = pd.read_csv('../Dataset/ICC_TeamComposition.csv')
data.head()

In [ ]:
data = pd.read_csv('../Dataset/ODI_Matches.csv')
data.head()

In [ ]:
Team_data = pd.read_csv('../Dataset/ICC_TeamComposition.csv')
odi_data = pd.read_csv('../Dataset/ODI_Matches.csv')
combined_oditeam_data = pd.concat([Team_data,odi_data],axis=0)

In [ ]:
data = pd.read_csv('../Dataset/ICC_VenuesList.csv')
data.head()

In [ ]:
data = pd.read_csv('../Dataset/Matches_stats.csv')
data.head()

In [ ]:
Venue_data = pd.read_csv('../Dataset/ICC_VenuesList.csv')
matches_data = pd.read_csv('../Dataset/Matches_stats.csv')
Venue_data.shape,matches_data.shape